@import url(http://fonts.googleapis.com/css?family=Marmelad);

body {
	background-image     : url(/images/graphy.png);
	background-attachment: fixed;
	font-family          : 'Marmelad', sans-serif;
	font-variant: small-caps;
	font-size: 15;
	color                : #CCC;
}

#header {
	width         : 800px;
	padding-top   : 0px;
	padding-bottom: 25px;
}

a {
	font-weight: bold;
	color: #595959;      
}

a:visited {
	color: #B13E3D;      
}

.fullImage {
	float: right;
}

#legend {
	overflow: auto;
	width   : 200px;
	margin  : 0px auto;
	float   : right;
}

#chart {
	overflow: auto;
	width   : 750px;
	height  : 350px;
	margin  : 0px auto;
	float   : left;
}

.dygraph-legend {
        width: 100px;
        background-color: transparent !important;
        top: 10px !important;
        left: 80px !important;
}

.mapcontainer {
    position: relative;
	overflow        : auto;
	width           : 996px;
	height          : 800px;
	margin-top      : 20px;
	margin-left     : auto;
	margin-right    : auto;
	border-radius   : 40px;
	border          : 5px solid #111;
	background-image: url(/images/carbon_fibre.png);
	text-align      : center;
	padding         : 20px;

	behavior        : url(/css/ie-css3.htc);
}

#chart_container {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

#stats {
	height: 250px;
	width: 100%;
}

#stats_chart {
    position: relative;
	height: 250px;
	width: 95%;
}

#map_canvas {
	height: 500px;
	width: 100%;
	margin-top: 20px;
}

.container {
	overflow        : auto;
	width           : 996px;
	margin-top      : 20px;
	margin-left     : auto;
	margin-right    : auto;
	padding         : 15px;
	border-radius   : 40px;
	border          : 5px solid #111;
	background-image: url(/images/carbon_fibre.png);
	text-align      : center;

	behavior        : url(/css/ie-css3.htc);
	position        : relative;
}

.leftalign {
	text-align: left;
}

.thumb {
	display      : block;
	border-radius: 5px;
	border       : 1px solid #800000;
	margin-left  : auto;
	margin-right : auto;

	behavior     : url(/css/ie-css3.htc);
	position     : relative;
}

.box {
	height          : 360px;
	width           : 300px;
	background-image: url(/images/light_wool.png);
	float           : left;
	margin          : 10px;
	border-radius   : 10px;
	border          : 1px solid #800000;
	padding         : 5px;

	behavior        : url(/css/ie-css3.htc);
	position        : relative;
}

.caption {
	font-variant: small-caps;
	text-align  : center;
	color       : #595959;
}

.map {
	position   : absolute;
	bottom     : 0px;
	margin-left: 5px;
}

.taken {
	font-size   : 75%;
	margin-top  : -3px;
	margin-right: 5px;
	float       : right;
	position    : relative;
}

.posted {
	font-size  : 75%;
	margin-top : -3px;
	margin-left: 5px;
	float      : left;
	position   : relative;
}
